@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;700&Playfair+Display:wght@600;700&Poppins:wght@200;300;400&display=swap');

@tailwind base;

* {
    @apply font-poppins;
    @apply antialiased;
    @apply subpixel-antialiased;
}

li.custom-styled {
    margin: 0;
    margin-bottom: 1em;
    padding-left: 1.5em;
    position: relative;
}

li.custom-styled:after {
    content: '';
    height: 0.5rem;
    width: 0.5rem;
    background: black;
    display: block;
    position: absolute;
    transform: rotate(45deg);
    top: 0.5rem;
    left: 0.5rem;
}


#menu-toggle:checked + #menu {
    display: block;
}

@tailwind components;
@tailwind utilities;